<div class="main">
    <div class="hadingDiv">
        <h1>Student Data</h1>
        <button class="btn btn-info addBtn" routerLink="/student">Add Student</button>
    </div>
    <div>
        <label>Filter </label>
        <select (change)="selectFilterValue($event.target.value)">
            <option value="firstName">First Name</option>
            <option value="class">Class</option>
            <option value="RegNo">Registeration Number</option>
            <option value="subjectName">Subject</option>
        </select>
    </div>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Registeration Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Registerted On</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Marks</th>
                <th>Actions</th>
                <!-- <th>View Details</th> -->
            </tr>
            <ng-container *ngFor="let stu of stuData">
                <tr *ngFor="let sub of stu?.subject; let i=index">
                    <ng-container *ngIf="i==0;else subdiv">
                        <td>{{stu?.regNo}}</td>
                        <td>{{stu?.firstName}}</td>
                        <td>{{stu?.lastName}}</td>
                        <td>{{stu?.registedOn | date}}</td>
                        <td>{{stu?.class}}</td>
                        <td>{{sub?.subjectName}}</td>
                        <td>{{sub?.marks}}</td>
                        <td><a href="" [routerLink]="['/student', stu?._id]">Edit </a> |
                            <a href="" (click)="deleteStudent(stu?._id)">Delete</a>
                        </td>
                    </ng-container>

                    <ng-template #subdiv>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{sub?.subjectName}}</td>
                        <td>{{sub?.marks}}</td>
                        <td></td>
                    </ng-template>
                </tr>
            </ng-container>

        </table>
    </div>
</div>